<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Source" value="C:\temp\testmedia\source" />
    <add key="Destination" value="C:\temp\testmedia\destination" />
    <add key="Archive" value="" />
    <add key="UseYearStructure" value="False" />
    <add key="UseYearStructureLargeOnly" value="False" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>